/* Created by Tivotal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.loader {
  position: relative;
  width: 120px;
  height: 120px;
  border: 6px solid #4070f4;
  border-radius: 50%;
  animation: anim 3s linear infinite;
}

.loader::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  top: 10px;
}

@keyframes anim {
  0% {
    transform: rotate(0);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
